@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
}
.navbarpreto {
    width: 100%;
    height: 90px;
    background: rgb(0, 0, 0);
}

.logoimg {
    width: 90px;
    display: flex;
    justify-content: left;
    padding: 0 0 0 40px;
}

.box-busca{ 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background-color: #ffffff; */
    margin-top: -90px;

}


.search-box-input::placeholder {
    
    color:#ffffff;
    opacity: 0.6;

}

/* Chrome, Opera ySafari */
.search-box-input::-webkit-input-placeholder { color: #ffffff; }

/* Firefox 19+ */
.search-box-input::-moz-placeholder { color: #ffffff; }

/* IE 10+ y Edge */
.search-box-input:-ms-input-placeholder { color: #ffffff; }


.search-box form {
    
    display: flex;
    border-radius: 50px;
    background-color: #4c4c4c;
    height: 45px;

}

.search-box:hover .search-box-input {
    
    padding-left: 2em;
    padding-right: 1em;
    width: 250px;

}

.search-box-input {

    outline: 0;
    font-size: 1.2em;
    color: #fff;
    width: 0;
    padding: 0;
    border: none;
    background: none;
    transition: .45s;

}

.search-box-button {

   display: flex;
   border-radius: 50%;
   width: 45px;
   height: 45px;
   background-color: #ff8400;
   border: none;
   cursor: pointer;
   transition: .3s;
   display: flex;
   justify-content: center;
   align-items: center;

}

.search-box-button:active  {

    transform: scale(.85);

}

.search-box-icone {

    margin: auto;
    color: #fff;

}


@media screen and (min-width: 720px){
    
    .search-box:hover .search-box-input {
        width: 360px;
    }

}

.coracao {
    display: flex;
    justify-content: end;
    margin-top: -55px;
    margin-right: 300px;
}

.carrinho {
    display: flex;
    justify-content: end;
    margin-top: -37px;
    margin-right: 250px;
}

.contato {
    display: flex;
    justify-content: end;
    margin-top: -33px;
    margin-right: 200px;
}

.navbarlaranja {
    width: 100%;
    height: 30px;
    background: #ff8400;

}

.navbarlaranja ul {
    display: flex;
    justify-content:center;
    list-style: none;
    margin: 0 20px;
    text-decoration: none;
    
}

.navbarlaranja a {
    display: flex;
    margin: 0px 70px;
    font-size: 24px;
    font-family: 'Caveat', cursive;
    text-decoration: none;
    color: black;
    /* list-style: none; */
    
}

/* CEHGAJHSDKAS */

.hamburgueres {
    width: 100%;
}

.basehamburguer {
    width: 1000px;
    height: 300px;
    background: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}
.australian {
    height: 300px;
    width: 400px;
    border-radius: 15px;
}
.basehamburguer h1 {
    color: rgb(255, 255, 255);
    position: absolute;
    right: 450px;
    top: 400px;
    font-size: 36px;
    font-family: 'Caveat', cursive;
}
.basehamburguer li {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    position: absolute;
    top: 470px;
    width: 400px;
    right: 360px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
.basehamburguer p {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    position: absolute;
    top: 675px;
    width: 400px;
    right: 40px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
.basehamburguer2 {
    width: 1000px;
    height: 300px;
    background: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}
.brasil {
    height: 300px;
    width: 400px;
    border-radius: 15px;
}
.basehamburguer2 h1 {
    color: rgb(255, 255, 255);
    position: absolute;
    right: 450px;
    top: 760px;
    font-size: 36px;
    font-family: 'Caveat', cursive;
}
.basehamburguer2 li {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    position: absolute;
    top: 830px;
    width: 400px;
    right: 360px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
.basehamburguer2 p {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    position: absolute;
    top: 1030px;
    width: 400px;
    right: 40px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
.basehamburguer3 {
    width: 1000px;
    height: 300px;
    background: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}
.italia {
    height: 300px;
    width: 400px;
    border-radius: 15px;
}
.basehamburguer3 h1 {
    color: rgb(255, 255, 255);
    position: absolute;
    right: 450px;
    top: 1130px;
    font-size: 36px;
    font-family: 'Caveat', cursive;
}
.basehamburguer3 li {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    position: absolute;
    top: 1200px;
    width: 400px;
    right: 360px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
.basehamburguer3 p {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    position: absolute;
    top: 1400px;
    width: 400px;
    right: 40px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
.basehamburguer4 {
    width: 1000px;
    height: 300px;
    background: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}
.laos {
    height: 300px;
    width: 400px;
    border-radius: 15px;
}
.basehamburguer4 h1 {
    color: rgb(255, 255, 255);
    position: absolute;
    right: 450px;
    top: 1500px;
    font-size: 36px;
    font-family: 'Caveat', cursive;
}
.basehamburguer4 li {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    position: absolute;
    top: 1570px;
    width: 400px;
    right: 360px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
.basehamburguer4 p {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    position: absolute;
    top: 1770px;
    width: 400px;
    right: 40px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
.basehamburguer5 {
    width: 1000px;
    height: 300px;
    background: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}
.letonia {
    height: 300px;
    width: 400px;
    border-radius: 15px;
}
.basehamburguer5 h1 {
    color: rgb(255, 255, 255);
    position: absolute;
    right: 450px;
    top: 1870px;
    font-size: 36px;
    font-family: 'Caveat', cursive;
}
.basehamburguer5 li {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    position: absolute;
    top: 1940px;
    width: 400px;
    right: 360px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
.basehamburguer5 p {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    position: absolute;
    top: 2140px;
    width: 400px;
    right: 40px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
.basehamburguer6 {
    width: 1000px;
    height: 300px;
    background: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}
.tailandia {
    height: 300px;
    width: 400px;
    border-radius: 15px;
}
.basehamburguer6 h1 {
    color: rgb(255, 255, 255);
    position: absolute;
    right: 450px;
    top: 2240px;
    font-size: 36px;
    font-family: 'Caveat', cursive;
}
.basehamburguer6 li {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    position: absolute;
    top: 2310px;
    width: 400px;
    right: 360px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
.basehamburguer6 p {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    position: absolute;
    top: 2510px;
    width: 400px;
    right: 40px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
.basehamburguer7 {
    width: 1000px;
    height: 300px;
    background: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}
.taiwan {
    height: 300px;
    width: 400px;
    border-radius: 15px;
}
.basehamburguer7 h1 {
    color: rgb(255, 255, 255);
    position: absolute;
    right: 450px;
    top: 2610px;
    font-size: 36px;
    font-family: 'Caveat', cursive;
}
.basehamburguer7 li {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    position: absolute;
    top: 2680px;
    width: 400px;
    right: 360px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
.basehamburguer7 p {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    position: absolute;
    top: 2880px;
    width: 400px;
    right: 40px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}

/* jkdbsajkdbasjkbaskb */

.menukids {
    width: 100%;
    margin-top: 70px;
}
.kidshamburguer {
    width: 1000px;
    height: 300px;
    background: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}
.frança {
    height: 300px;
    width: 400px;
    border-radius: 15px;
}
.kidshamburguer h1 {
    color: rgb(255, 255, 255);
    position: absolute;
    right: 450px;
    top: 3225px;
    font-size: 36px;
    font-family: 'Caveat', cursive;
}
.kidshamburguer li {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    position: absolute;
    top: 3300px;
    width: 400px;
    right: 360px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
.kidshamburguer p {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    position: absolute;
    top: 3500px;
    width: 400px;
    right: 40px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
.kidshamburguer2 {
    width: 1000px;
    height: 300px;
    background: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}
.japao {
    height: 300px;
    width: 400px;
    border-radius: 15px;
}
.kidshamburguer2 h1 {
    color: rgb(255, 255, 255);
    position: absolute;
    right: 450px;
    top: 3600px;
    font-size: 36px;
    font-family: 'Caveat', cursive;
}
.kidshamburguer2 li {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    position: absolute;
    top: 3700px;
    width: 400px;
    right: 360px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
.kidshamburguer2 p {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    position: absolute;
    top: 3850px;
    width: 400px;
    right: 40px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
.kidshamburguer3 {
    width: 1000px;
    height: 300px;
    background: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}
.polonia {
    height: 300px;
    width: 400px;
    border-radius: 15px;
}
.kidshamburguer3 h1 {
    color: rgb(255, 255, 255);
    position: absolute;
    right: 450px;
    top: 3950px;
    font-size: 36px;
    font-family: 'Caveat', cursive;
}
.kidshamburguer3 li {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    position: absolute;
    top: 4050px;
    width: 400px;
    right: 360px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
.kidshamburguer3 p {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    position: absolute;
    top: 4200px;
    width: 400px;
    right: 40px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
.kidshamburguer4 {
    width: 1000px;
    height: 300px;
    background: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}
.suiça {
    height: 300px;
    width: 400px;
    border-radius: 15px;
}
.kidshamburguer4 h1 {
    color: rgb(255, 255, 255);
    position: absolute;
    right: 450px;
    top: 4300px;
    font-size: 36px;
    font-family: 'Caveat', cursive;
}
.kidshamburguer4 li {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    position: absolute;
    top: 4400px;
    width: 400px;
    right: 360px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
.kidshamburguer4 p {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    position: absolute;
    top: 4550px;
    width: 400px;
    right: 40px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}

/* ajsdklasdklasjdklas */

.acomp {
    width: 100%;
    margin-top: 70px;
}

.acompanhamento {
    width: 1000px;
    height: 300px;
    background: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}
.trad {
    height: 300px;
    width: 400px;
    border-radius: 15px;
}
.acompanhamento h1 {
    color: rgb(255, 255, 255);
    position: absolute;
    right: 450px;
    top: 5025px;
    font-size: 36px;
    font-family: 'Caveat', cursive;
}
.acompanhamento li {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    position: absolute;
    top: 5175px;
    width: 400px;
    right: 360px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
.acompanhamento p {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    position: absolute;
    top: 5250px;
    width: 400px;
    right: 40px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
.acompanhamento2 {
    width: 1000px;
    height: 300px;
    background: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}
.bacon {
    height: 300px;
    width: 400px;
    border-radius: 15px;
}
.acompanhamento2 h1 {
    color: rgb(255, 255, 255);
    position: absolute;
    right: 450px;
    top: 5400px;
    font-size: 36px;
    font-family: 'Caveat', cursive;
}
.acompanhamento2 li {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    position: absolute;
    top: 5550px;
    width: 400px;
    right: 360px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
.acompanhamento2 p {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    position: absolute;
    top: 5625px;
    width: 400px;
    right: 40px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
.acompanhamento3 {
    width: 1000px;
    height: 300px;
    background: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}
.cebola {
    height: 300px;
    width: 400px;
    border-radius: 15px;
}
.acompanhamento3 h1 {
    color: rgb(255, 255, 255);
    position: absolute;
    right: 450px;
    top: 5775px;
    font-size: 36px;
    font-family: 'Caveat', cursive;
}
.acompanhamento3 li {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    position: absolute;
    top: 5925px;
    width: 400px;
    right: 360px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
.acompanhamento3 p {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    position: absolute;
    top: 6000px;
    width: 400px;
    right: 40px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
.acompanhamento4 {
    width: 1000px;
    height: 300px;
    background: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}
.nugget {
    height: 300px;
    width: 400px;
    border-radius: 15px;
}
.acompanhamento4 h1 {
    color: rgb(255, 255, 255);
    position: absolute;
    right: 450px;
    top: 6150px;
    font-size: 36px;
    font-family: 'Caveat', cursive;
}
.acompanhamento4 li {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    position: absolute;
    top: 6300px;
    width: 400px;
    right: 360px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
.acompanhamento4 p {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    position: absolute;
    top: 6375px;
    width: 400px;
    right: 40px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}

/* ksalkslaksal */

.bebida {
    width: 100%;
    margin-top: 70px;
}

.bebidas {
    width: 1000px;
    height: 300px;
    background: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}
.agua {
    height: 300px;
    width: 400px;
    border-radius: 15px;
}
.bebidas h1 {
    color: rgb(255, 255, 255);
    position: absolute;
    right: 450px;
    top: 6850px;
    font-size: 36px;
    font-family: 'Caveat', cursive;
}
.bebidas li {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    position: absolute;
    top: 7000px;
    width: 400px;
    right: 360px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
.bebidas p {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    position: absolute;
    top: 7050px;
    width: 400px;
    right: 40px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
.bebidas2 {
    width: 1000px;
    height: 300px;
    background: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}
.refri {
    height: 300px;
    width: 400px;
    border-radius: 15px;
}
.bebidas2 h1 {
    color: rgb(255, 255, 255);
    position: absolute;
    right: 450px;
    top: 7200px;
    font-size: 36px;
    font-family: 'Caveat', cursive;
}
.bebidas2 li {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    position: absolute;
    top: 7350px;
    width: 400px;
    right: 360px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
.bebidas2 p {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    position: absolute;
    top: 7500px;
    width: 400px;
    right: 40px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
.bebidas3 {
    width: 1000px;
    height: 300px;
    background: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}
.cerva1 {
    height: 300px;
    width: 400px;
    border-radius: 15px;
}
.bebidas3 h1 {
    color: rgb(255, 255, 255);
    position: absolute;
    right: 450px;
    top: 7600px;
    font-size: 36px;
    font-family: 'Caveat', cursive;
}
.bebidas3 li {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    position: absolute;
    top: 7750px;
    width: 400px;
    right: 360px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
.bebidas3 p {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    position: absolute;
    top: 7800px;
    width: 400px;
    right: 40px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
.bebidas4 {
    width: 1000px;
    height: 300px;
    background: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}
.cerva2 {
    height: 300px;
    width: 400px;
    border-radius: 15px;
}
.bebidas4 h1 {
    color: rgb(255, 255, 255);
    position: absolute;
    right: 450px;
    top: 7950px;
    font-size: 36px;
    font-family: 'Caveat', cursive;
}
.bebidas4 li {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    position: absolute;
    top: 8100px;
    width: 400px;
    right: 360px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
.bebidas4 p {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    position: absolute;
    top: 8200px;
    width: 400px;
    right: 40px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}

/* ksalkslakslakslak */

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #ff8c00;
    color: white;
    padding: 20px;
  }

  .column {
    flex: 1;
    padding: 0 20px;
  }

  .column h3 {
    margin-bottom: 10px;
  }

  .column ul {
    list-style-type: none;
    padding: 0;
  }

  .column ul li {
    margin-bottom: 5px;
  }